.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.app-header {
  background-color: #353535;
  overflow: visible;
  width: 100%;
  text-align: center;
  color: magenta;
}

.messages-list {
  padding: 20px 0;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
  background-color: gainsboro;
}

.messages-message {
  display: flex;
  margin-top: 10px;
}

.css-12g71p8 {
  margin: 0 5px;
}

.messages-message.current_member {
  flex-direction: row-reverse;
  text-align: right;
}

.message-content {
  display: inline-block;
}

.message-content_chatbot {
  display: flex;
}

.chatbot-text {
  margin-left: 22rem;
  color: grey;
}

.current_member > .message-content {
  align-items: flex-end;
}

.messages-message > .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px -10px;
}

.username {
  display: block;
  color: gray;
  font-size: 14px;
  padding-bottom: 4px;
}

.message-content > .text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  background-color: cornflowerblue;
  color: white;
  display: inline-block;
}

.current_member > .message-content .text {
  background-color: magenta;
}

.message-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 901px;
  margin: 0 auto 40px;
  z-index: 1;
}

input {
  padding: 5px;
  font-size: 16px;
  border: 1px solid rgb(7, 7, 7);
  flex-grow: 1;
}

button {
  padding: 10px 80px;
  font-size: 16px;
  background-color: magenta;
  color: white;
  border: none;
}

.login__app {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.login__app-header {
  background-color: #353535;
  overflow: visible;
  width: 100%;
  text-align: center;
  color: magenta;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#root {
  background-color: #353535;
}

.emoji-icon {
  cursor: pointer;
  position: relative;
  width: 25px;
  background-color: white;
  border: 1px solid black;
  padding: 3px;
  background-color: rgb(255, 255, 78);
}

.pop-up {
  border-color: var(--epr-picker-border-color);
    border-radius: var(--epr-picker-border-radius);
    border-width: 1px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30rem;
    left: 46rem;
}